.world {
    background-image: url("../../../public/assets/map.jpg");
    background-repeat: no-repeat;
    height: 100vh;
}

.world__heading {
    padding-top: 2%;
    font-size: 2rem;
    text-align: center;
}

.location-point{
    background-color:red;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    position: fixed;
    margin-left: 80%;
    margin-top: 23%;
}

@media (max-width:1200px) {
    .world__heading {
        padding-top: 10%;
    }
}

@media (max-width:570px) {
    .world__heading {
        padding-top: 30%;
    }
}