.container {
    margin: 1rem 15%;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-top: 1rem;
    font-size: 2rem;
}
.input {
    border-radius: 8px;
    height: 3rem;
}

.button {
    width: 40%;
    align-self: center;
    margin-top: 2rem;
    height: 4rem;
    font-size: 2rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
}