@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.header {
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: absolute;
    width: 90%;
    top:-5%;
}

.logo {
    width: 168px;
    height: 50px;
}

.link--logo {
    align-self: flex-start;
}

.navigation {
    flex-basis: 60%;
}

.navigation__list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.navigation_item {
    margin-right: 5%;
}

.navigation__link {
    color:#000;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 5%;
}

.navigation__link:hover {
    text-decoration: underline;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-btn {
    border: none;
    background: none;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #585858;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content {
    margin-top: 2rem;
    border:2px solid white;
    border-radius: 5%;
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 10rem;
}

.modal__heading {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.modal__login-btn {
    margin-top: 2rem    ;
    font-size: 1.5rem;
    background: none;
    border: 2px solid white;
    border-radius: 2rem;
    width: 12rem;
    height: 3rem;
}

.modal__login-btn:hover {
    background-color: white;
}

.close-btn {
    background: none;
    border:none;
    font-size: 3rem;
    color: white;
    margin-left: 100%;
}

.close-btn:hover {
    color: black;
}

@media (max-width:1200px) {
    .logo {
        flex-basis: 50%;
        align-self: center;
        justify-self: center;
    }

    .modal-content {
        padding-top: 2rem;
        padding-left: 6rem;
        padding-right: 6rem;
        padding-bottom: 6rem;
    }
}

@media (max-width:570px) {

    .header{ 
        padding-top: 10%;
    }
    .link--logo {
        align-self: center;
        margin-top: 5%;
    }

    .logo {
        width: 84px;
        height: 25px;
    }

    .navigation__link {
        font-size: 1rem;
    }

    .modal-content {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

}