@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4d94ff;  

    .logo { 
        width: 10rem;
    }
}

.navigation {

    &__list {
        display: flex;
    }

    &__link {
        font-size: 1.2rem;
        color:white;
        text-decoration: none;
    }

    &__link:hover {
        text-decoration: underline;
    }

    .list-item {
        margin-left: 1rem;
        list-style-type: none;
    }
}

.search {
    border: none;
    width: 20rem;
    height: 2rem;
    border-radius: 8px;
}

.submit {
    height: 2.3rem;
    border: none;
    background: green;
    color: white;
    border-radius: 5px;
}

.burger-menu {
    display: none;
}

@media (max-width:1150px) {
    .navigation {
        display: none;
    }

    .burger-menu {
        background: none;
        border: none;
        display: block;
    }
    .burger-icon {
        height: 40px;
        width: 40px;
    }
}

@media (max-width:650px) {
    .search-form {
        display: none;
    }
}