.project-detail {
    width: 80%;
    height: 100vh;
    margin: auto;
    border: 2px solid gray;
    padding: 20px;
}


.project-wrapper {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
}

.project-image {
    width: 600px;
}

.project-description {
    width: 400px;
}

.close-btn {
    margin-left: 90%;
    width: 40px;
    height: 40px;
}

@media(max-width:1400px) {
    .project-wrapper {
        flex-direction: column;
    }

    .project-description {
        margin-top: 2rem;
        width: 100%;
        text-align: center;
    }
}

@media(max-width:950px) {
    .project-image {
        width: 400px;
    }
}

@media(max-width:600px) {
    .project-image {
        width: 200px;
    }
}